name: Anime uploader
permissions:
  contents: write

on:
  schedule:
    # 12:00 МСК = 09:00 UTC
    - cron: "0 9 * * *"

    # 18:00 МСК = 15:00 UTC
    - cron: "0 15 * * *"

    # 22:00 МСК = 19:00 UTC
    - cron: "0 19 * * *"

  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install telethon google-api-python-client google-auth google-auth-oauthlib

      - name: Run bot
        run: python bot.py
        env:
          TG_API_ID: ${{ secrets.TG_API_ID }}
          TG_API_HASH: ${{ secrets.TG_API_HASH }}
          TG_SESSION: ${{ secrets.TG_SESSION }}
          TG_CHANNEL: ${{ secrets.TG_CHANNEL }}
          YT_TOKEN: ${{ secrets.YT_TOKEN }}

      - name: Commit state
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add state.json counter.json || true
          git commit -m "Update state" || echo "No changes"
          git push


